/*
 * Style Admin Dashboard
 */

/*
 * Logo Icon
 */
#wpwrap #wpadminbar #wp-admin-bar-wp-logo > .ab-item {
    background-image: url(../favicon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 26px auto;
    background-color: #ffffff;
}
#wpwrap #wpadminbar #wp-admin-bar-wp-logo > .ab-item span {
    visibility: hidden;
}

/*
 * Hide admin functions
 */
body:not(.is-developer) #toplevel_page_edit-post_type-acf-field-group {
    display: none;
}
body.post-php.is-developer-locked:not(.is-developer) #edit-slug-buttons {
    display: none;
}
body:not(.is-developer) #wp-admin-bar-graphiql-ide,
body:not(.is-developer) #adminmenu #toplevel_page_graphql,
body:not(.is-developer) #adminmenu #toplevel_page_wp-graphiql-wp-graphiql,
body:not(.is-developer) #adminmenu #toplevel_page_wp-graphql-gutenberg-admin {
    display: none;
}

/* Turn off preview links */
body.post-new-php.no-slug #preview-action,
body.post-php.no-slug #preview-action {
    display: none;
}
#wpbody-content a.np-view-button[href*='/?'] {
    display: none;
}

#menu-comments {
    display: none;
}
