/*
 * Style login page
 */

/*
 * Globals
 */
:root {
    /* Body */
    --body-bg-color: #011931;

    --text-color: #ffffff;
    --text-color-hover: #ffffff;

    /* Form */
    --form-bg-color: #011931;
    --form-border-color: #011931;

    /* Input fields */
    --input-bg-color: #ffffff;
    --input-color: #011931;

    /* Submit button */
    --button-color: #011931;
    --button-color-hover: #ffffff;

    --button-bg-color: #ffffff;
    --button-bg-color-hover: #011931;

    --button-border-color: #ffffff;
    --button-border-color-hover: #ffffff;
}
html {
    background: var(--body-bg-color);
}
body.login {
    font-size: 14px;
    background: var(--body-bg-color);
    line-height: 1.4;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
}
a {
    outline: none;
}

/*
 * Login Banner Image
 */
#login h1 a {
    background-image: url(../images/logo-funkhaus.svg);
    background-position: center center;
    margin: 0;
    background-size: auto;
    width: auto;
}

/*
 * Login Form
 */
#loginform {
    box-shadow: none;
    background: var(--form-bg-color);
    border-color: var(--form-border-color);
}
#loginform label {
    color: var(--text-color);
}
#loginform input[type='text'],
#loginform input[type='password'] {
    background: var(--input-bg-color);
    border: 1px solid var(--input-bg-color);
    font-family: inherit;
    padding: 5px 8px;
    box-sizing: border-box;
    color: var(--input-color);
}
#loginform input[type='checkbox'],
#loginform input[type='radio'] {
    vertical-align: baseline;
}

/*
 * Login Submit Button
 */
#wp-submit {
    background: var(--button-bg-color);
    color: var(--button-color);
    border: none;
    text-shadow: none;
    box-shadow: none;
    text-transform: uppercase;
    border: 2px solid var(--button-border-color);
    height: initial;
    padding-top: 2px;
    transition: all 0.4s;
}
#wp-submit:hover,
#wp-submit:focus {
    background: var(--button-bg-color-hover);
    color: var(--button-color-hover);
    border: 2px solid var(--button-border-color-hover);
}

/*
 * "Lost password" link
 */
#nav {
    text-shadow: none;
}
.login #nav a {
    text-decoration: none;
    padding: 0 1px;
    text-shadow: none;
    color: var(--text-color);
    text-decoration: underline;
}
.login #nav a:hover,
.login #nav a:focus {
    color: var(--text-color-hover) !important;
    font-weight: normal;
    text-shadow: none;
}

/*
 * "Back to blog" link header
 */
#backtoblog {
    display: none;
}

/*
 * Error messages
 */
.login .message,
.login #login_error {
    background-color: var(--body-bg-color);
    color: var(--text-color);
}
.login #login_error a {
    color: var(--text-color);
}
.login #login_error a:hover,
.login #login_error a:focus {
    color: var(--text-color-hover);
}
