.block-video-tray {
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
}
.block-video-tray .item {
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 10px;
}
.block-video-tray .item:last-child {
	margin-right: 0;
}
.block-video-tray .image {
	height: 300px;
	width: auto;
}
.block-video-tray .title,
.block-video-tray .sub-title {
	margin: 0;
}